
@{
    ViewBag.Title = "CheckIn";
}

<div class="tokenCard">
    <div id="PrintArea">
        <h1 style="color: #eee">City Center Car Parking System</h1>
        <h3 style="color:red">Token NO: @ViewBag.Token</h3>
    </div>
        <button style="align-self:center" class="printBtn">Print</button>
</div>

<script>
    let pdiv = document.querySelector(".printBtn")
    pdiv.addEventListener("click", () => {
        var printContents = document.getElementById("PrintArea").innerHTML;
        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;

        window.print();

        document.body.innerHTML = originalContents;
    })
</script>

