
@{
    ViewBag.Title = "CheckIn";
}

<div class="tokenCard">
    <div id="PrintArea">
        <h1 style="color: #eee; text-align: center; margin: 95px 0 45px; ">City Center Car Parking System</h1>
        <h3 style="color:red; font-size: 30px; text-align:center; margin: 15px 0 65px;">Token NO: @ViewBag.Token</h3>
        <p style="text-align:center; margin-bottom: 15px;">Please Don't Lose This Token. It's Very Important!</p>
    </div>
        <button style="align-self:center;" class="printBtn">Print</button>
</div>

<script>
    let pdiv = document.querySelector(".printBtn")
    pdiv.addEventListener("click", () => {
        var printContents = document.getElementById("PrintArea").innerHTML;
        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;

        window.print();

        document.body.innerHTML = originalContents;
    })
</script>

