<style>
    .body .nav {
        padding: 10px 40px;
        visibility: hidden;
    }
</style>

<div class="landing landingDoor">
    @*Landing Page*@
    <div class="welcome">
        <div class="welcomeVanish">
            <h1>welcome</h1>
            <h1>To The System</h1>
            <h3 class="time">Time & Date</h3>
        </div>
        <img class="grabImg" style="margin-bottom: 5px;" src="~/Image/tumblr_mm6esrW5sp1spoqhxo6_400.gif" />
    </div>
</div>
        <footer class="grabImg2" >
            <p>&copy; @DateTime.Now.Year - Developed By CODERs</p>
        </footer>

<script>
    let nav = document.querySelector(".nav");

    setTimeout(() => {
        nav.classList.add("navAnimation");
    }, 1250)
    </script>
