welcome @HttpContext.Current.User.Identity.Name


@if(Request.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "User", FormMethod.Post, new { id = "logoutForm" }))
    {
        <a href="javascript:doucment.getElementById('logoutForm')">Logout</a>
    }
}




