

<div class="landing landingDoor">
    @*Landing Page*@
    <div class="welcome">
        <h1>welcome</h1>
        <h1>To The System</h1>
        <h3 class="time">Time & Date</h3>
        <img style="margin-bottom: 5px;" src="~/Image/tumblr_mm6esrW5sp1spoqhxo6_400.gif" />
    </div>
</div>

