
@{
    ViewBag.Title = "Report";
}
@using (Html.BeginForm("ReportGenerate","Report",FormMethod.Get))
{
<p>
    <b>Search Report Type:</b>
    @Html.RadioButton("SearchBy", "Income", true)<text>Income</text>
    @Html.RadioButton("SearchBy", "Car")<text>Car</text>
    @Html.RadioButton("SearchBy", "User")<text>User</text>
</p>

   <b>Select Month</b>
<div class="container">
    <div class="row">
        <select id="Select" name="Select">
            <option value="1">January</option>
            <option value="2">February</option>
            <option value="3">March</option>
            <option value="4">April</option>
            <option value="5">May</option>
            <option value="6">June</option>
            <option value="7">July</option>
            <option value="8">August</option>
            <option value="9">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>

        </select>
    </div>
</div>
    <br />
    <input type="submit" value="Generate" />
}

