.landing{
    overflow-y:hidden;
}
    .landingDoor::before {
        content: "";
        position: absolute;
        background: url('../Image/Group 17.png') no-repeat;
        background-size: cover;
        z-index: 1;
        top: 0;
        left: -5px;
        bottom: 0;
        transition: .5s;
        animation: animateLeft 6s;
    }
    .landingDoor::after {
        content: "";
        position: absolute;
        background: url('../Image/Group 16.png') no-repeat;
        background-size: cover;
        z-index: 1;
        top: 0;
        right: -5px;
        bottom: 0;
        transition: .5s;
        animation: animateRight 6s;
    }
    @keyframes animateLeft{
        0% {
            left: 0;
            width: 50%;
        }
        100% {
            left: -150%;
        }
    }
@keyframes animateRight {
    0% {
        right: 0;
        width: 50%;
    }

    100% {
        right: -150%;
    }
}
.shFloor{
    transition: .5s;
}
.welcome {
    transition: .5s;
}
    .welcome .welcomeVanish{
        display: none;
    }
    .welcome .grabImg{
        display: none;
    }
    .grabImg2 {
        display: none;
    }
    .welcome .welcomeAnimation {
        display: block;
        animation: animateWelcome 1s ease-in;
    }
    @keyframes animateWelcome {
        from {
        opacity: 0;
        transform: translateY(-40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
    .welcome .imgAnimate{
        animation: animationCar .9s ease-in;
        display: inline-block;
    }
    @keyframes animationCar {
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }
    .footerAnimate{
        animation: animateFooter 1s ease-in;
        display: inline-block;
    }
    @keyframes animateFooter {
        from{
            opacity: 0;
            transform: translateY(20px);
        }
        to{
            opacity: 1;
            transform: translateY(0);
        }
    }
.landing h1 {
    margin: 20px 0 0;
    font-size: 55px;
    transition: .5s;
    animation: animateCar 2.5s infinite;
}
.landing h3 {
    margin: 15px 0 0;
    animation: animateCar 2.5s infinite;
}
    @keyframes animateCar {
        0% {
        color: #0088FF;
    }
    50% {
        color: #00FFC2;
        text-shadow: 0 0 15px rgba(1, 255, 229, .8)
    }
    100% {
        color: #0088FF;
    }
}
.shFloor a {
    color: #80C8FF;
    text-decoration: none;
    font-size: 19px;
    margin: 0 33px;
    animation: animateLink 3s infinite;
}
@keyframes animateLink {
    0% {
        color: #0088FF;
    }

    50% {
        color: #00FFC2;
        text-shadow: 0 0 25px rgba(1, 255, 229, 1)
    }

    100% {
        color: #0088FF;
    }
}

a.activated{
    animation: animateActive 3s infinite;
}
@keyframes animateActive {
    0% {
        color: lightcoral;
    }

    50% {
        color: red;
        text-shadow: 0 0 25px rgb(255, 0, 0);
    }

    100% {
        color: lightcoral;
    }
}

.shFloor a:hover {
    color: #00FFC2;
    text-shadow: 0 0 8px rgba(1, 255, 229, .5)
}





.shFloor .float{
    position: absolute;
    width: 70%;
    top: 77%;
}
/* Floor A*/
.shFloor .a1 {
    position: absolute;
    bottom: 1310%;
    left: 20.5%;
    transform: rotate(40deg);
}
.shFloor .a2 {
    position: absolute;
    bottom: 1255%;
    left: 26%;
    transform: rotate(20deg);
}
.shFloor .a3 {
    position: absolute;
    bottom: 1223%;
    left: 32.5%;
    transform: rotate(5deg);
}
.shFloor .a4 {
    position: absolute;
    bottom: 1205%;
    left: 39.5%;
    transform: rotate(4.8deg);
}
.shFloor .a5 {
    position: absolute;
    bottom: 1190%;
    left: 49%;
}
.shFloor .a6 {
    position: absolute;
    bottom: 1205%;
    left: 58.8%;
    transform: rotate(-4.8deg);
}
.shFloor .a7 {
    position: absolute;
    bottom: 1223%;
    left: 65.5%;
    transform: rotate(-5deg);
}
.shFloor .a8 {
    position: absolute;
    bottom: 1255%;
    left: 72.5%;
    transform: rotate(-20deg);
}
.shFloor .a9 {
    position: absolute;
    bottom: 1310%;
    left: 78.5%;
    transform: rotate(-36deg);
}



/* Floor B*/
.shFloor .a10 {
    position: absolute;
    bottom: 990%;
    left: 20.5%;
    transform: rotate(40deg);
}

.shFloor .b2 {
    position: absolute;
    bottom: 925%;
    left: 26%;
    transform: rotate(20deg);
}

.shFloor .b3 {
    position: absolute;
    bottom: 893%;
    left: 32.5%;
    transform: rotate(5deg);
}
.shFloor .b4 {
    position: absolute;
    bottom: 875%;
    left: 39.5%;
    transform: rotate(4.8deg);
}
.shFloor .b5 {
    position: absolute;
    bottom: 860%;
    left: 49%;
}
.shFloor .b6 {
    position: absolute;
    bottom:875%;
    left: 58.8%;
    transform: rotate(-4.8deg);
}
.shFloor .b7 {
    position: absolute;
    bottom: 893%;
    left: 65.5%;
    transform: rotate(-5deg);
}
.shFloor .b8 {
    position: absolute;
    bottom: 925%;
    left: 72.5%;
    transform: rotate(-20deg);
}

.shFloor .b9 {
    position: absolute;
    bottom: 980%;
    left: 78.5%;
    transform: rotate(-36deg);
}

/* Floor C */
.shFloor .b10 {
    position: absolute;
    bottom: 660%;
    left: 20.5%;
    transform: rotate(40deg);
}

.shFloor .c2 {
    position: absolute;
    bottom: 595%;
    left: 26%;
    transform: rotate(20deg);
}

.shFloor .c3 {
    position: absolute;
    bottom: 563%;
    left: 32.5%;
    transform: rotate(5deg);
}
.shFloor .c4 {
    position: absolute;
    bottom: 545%;
    left: 39.5%;
    transform: rotate(4.8deg);
}
.shFloor .c5 {
    position: absolute;
    bottom: 530%;
    left: 49%;
}
.shFloor .c6 {
    position: absolute;
    bottom: 545%;
    left: 58.8%;
    transform: rotate(-4.8deg);
}
.shFloor .c7 {
    position: absolute;
    bottom: 563%;
    left: 65.5%;
    transform: rotate(-5deg);
}

.shFloor .c8 {
    position: absolute;
    bottom: 595%;
    left: 72.5%;
    transform: rotate(-20deg);
}

.shFloor .c9 {
    position: absolute;
    bottom: 650%;
    left: 78.5%;
    transform: rotate(-36deg);
}

/* Floor B*/
.shFloor .c10 {
    position: absolute;
    bottom: 330%;
    left: 20.5%;
    transform: rotate(40deg);
}

.shFloor .d2 {
    position: absolute;
    bottom: 265%;
    left: 26%;
    transform: rotate(20deg);
}

.shFloor .d3 {
    position: absolute;
    bottom: 233%;
    left: 32.5%;
    transform: rotate(5deg);
}

.shFloor .d4 {
    position: absolute;
    bottom: 215%;
    left: 39.5%;
    transform: rotate(4.8deg);
}

.shFloor .d5 {
    position: absolute;
    bottom: 200%;
    left: 49%;
}

.shFloor .d6 {
    position: absolute;
    bottom: 215%;
    left: 58.8%;
    transform: rotate(-4.8deg);
}

.shFloor .d7 {
    position: absolute;
    bottom: 233%;
    left: 65.5%;
    transform: rotate(-5deg);
}

.shFloor .d8 {
    position: absolute;
    bottom: 265%;
    left: 72.5%;
    transform: rotate(-20deg);
}

.shFloor .d9 {
    position: absolute;
    bottom: 320%;
    left: 78.5%;
    transform: rotate(-36deg);
}