.landing{
    overflow-y:hidden;
}
    .landingDoor::before {
        content: "";
        position: absolute;
        background: url('../Image/Group 17.png') no-repeat;
        background-size: cover;
        z-index: 1;
        top: 0;
        left: -5px;
        bottom: 0;
        transition: .5s;
        animation: animateLeft 6s;
    }
    .landingDoor::after {
        content: "";
        position: absolute;
        background: url('../Image/Group 16.png') no-repeat;
        background-size: cover;
        z-index: 1;
        top: 0;
        right: -5px;
        bottom: 0;
        transition: .5s;
        animation: animateRight 6s;
    }
    @keyframes animateLeft{
        0% {
            left: 0;
            width: 50%;
        }
        100% {
            left: -150%;
        }
    }
@keyframes animateRight {
    0% {
        right: 0;
        width: 50%;
    }

    100% {
        right: -150%;
    }
}
.shFloor{
    transition: .5s;
}
.welcome {
    transition: .5s;
}
.landing h1 {
    margin: 20px 0 0;
    font-size: 55px;
    transition: .5s;
    animation: animateCar 2.5s infinite;
}
.landing h3 {
    margin: 15px 0 0;
    animation: animateCar 2.5s infinite;
}
    @keyframes animateCar {
        0% {
        color: #0088FF;
    }
    50% {
        color: #00FFC2;
        text-shadow: 0 0 15px rgba(1, 255, 229, .8)
    }
    100% {
        color: #0088FF;
    }
}
.shFloor a {
    color: #80C8FF;
    text-decoration: none;
    font-size: 19px;
    margin: 0 33px;
    background: #0A1E55;
    animation: animateLink 3s infinite;
}
@keyframes animateLink {
    0% {
        color: #0088FF;
    }

    50% {
        color: #00FFC2;
        text-shadow: 0 0 25px rgba(1, 255, 229, 1)
    }

    100% {
        color: #0088FF;
    }
}
.shFloor a:hover {
    color: #00FFC2;
    text-shadow: 0 0 8px rgba(1, 255, 229, .5)
}




/*Floor CSS*/
.shFloor .floor1 {
    width: 75%;
    text-align: center;
    position: absolute;
    bottom: 27%;
    left: 23.7%;
}
.shFloor .floor2 {
    width: 75%;
    text-align: center;
    position: absolute;
    bottom: 44%;
    left: 23.7%;
}
.shFloor .floor3 {
    width: 75%;
    text-align: center;
    position: absolute;
    bottom: 61.5%;
    left: 23.7%;
}
.shFloor .floor4 {
    width: 75%;
    text-align: center;
    position: absolute;
    bottom: 78.5%;
    left: 23.7%;
}
@media screen and (max-width: 1450px){
    .shFloor .floor1 {
        bottom: 30.5%;
    }

    .shFloor .floor2 {
        bottom: 46.5%;
    }

    .shFloor .floor3 {
        bottom: 63.5%;
    }

    .shFloor .floor4 {
        bottom: 78.5%;
    }
}









/* Floor A*/
.shFloor .floor1 .a1 {
    position: absolute;
    bottom: 265%;
    left: 19.5%;
    transform: rotate(40deg);
}
.shFloor .floor1 .a2 {
    position: absolute;
    bottom: 150%;
    left: 24%;
    transform: rotate(20deg);
}
.shFloor .floor1 .a3 {
    position: absolute;
    bottom: 60%;
    left: 30.5%;
    transform: rotate(5deg);
}
.shFloor .floor1 .a7 {
    position: absolute;
    bottom: 40%;
    left: 61%;
    transform: rotate(-5deg);
}
.shFloor .floor1 .a8 {
    position: absolute;
    bottom: 120%;
    left: 67.5%;
    transform: rotate(-20deg);
}
.shFloor .floor1 .a9 {
    position: absolute;
    bottom: 240%;
    left: 73.5%;
    transform: rotate(-36deg);
}

/* Floor B*/
.shFloor .floor2 .b1 {
    position: absolute;
    bottom: 265%;
    left: 19.5%;
    transform: rotate(40deg);
}

.shFloor .floor2 .b2 {
    position: absolute;
    bottom: 150%;
    left: 24%;
    transform: rotate(20deg);
}

.shFloor .floor2 .b3 {
    position: absolute;
    bottom: 60%;
    left: 30.5%;
    transform: rotate(5deg);
}

.shFloor .floor2 .b7 {
    position: absolute;
    bottom: 40%;
    left: 61%;
    transform: rotate(-5deg);
}

.shFloor .floor2 .b8 {
    position: absolute;
    bottom: 120%;
    left: 67.5%;
    transform: rotate(-20deg);
}

.shFloor .floor2 .b9 {
    position: absolute;
    bottom: 240%;
    left: 73.5%;
    transform: rotate(-36deg);
}

/* Floor C */
.shFloor .floor3 .c1 {
    position: absolute;
    bottom: 265%;
    left: 19.5%;
    transform: rotate(40deg);
}

.shFloor .floor3 .c2 {
    position: absolute;
    bottom: 150%;
    left: 24%;
    transform: rotate(20deg);
}

.shFloor .floor3 .c3 {
    position: absolute;
    bottom: 40%;
    left: 61%;
    transform: rotate(5deg);
}

.shFloor .floor3 .c7 {
    position: absolute;
    bottom: 30%;
    left: 61%;
    transform: rotate(-5deg);
}

.shFloor .floor3 .c8 {
    position: absolute;
    bottom: 120%;
    left: 67.5%;
    transform: rotate(-20deg);
}

.shFloor .floor3 .c9 {
    position: absolute;
    bottom: 240%;
    left: 73.5%;
    transform: rotate(-36deg);
}

/* Floor B*/
.shFloor .floor4 .d1 {
    position: absolute;
    bottom: 265%;
    left: 19.5%;
    transform: rotate(40deg);
}

.shFloor .floor4 .d2 {
    position: absolute;
    bottom: 150%;
    left: 24%;
    transform: rotate(20deg);
}

.shFloor .floor4 .d3 {
    position: absolute;
    bottom: 60%;
    left: 30.5%;    
    transform: rotate(5deg);
}

.shFloor .floor4 .d7 {
    position: absolute;
    bottom: 40%;
    left: 61%;
    transform: rotate(-5deg);
}

.shFloor .floor4 .d8 {
    position: absolute;
    bottom: 120%;
    left: 67.5%;
    transform: rotate(-20deg);
}

.shFloor .floor4 .d9 {
    position: absolute;
    bottom: 240%;
    left: 73.5%;
    transform: rotate(-36deg);
}
