body {
    overflow: hidden;
}
.lbody {
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: Autodestruct BB;
    color: #E2E2E2;
    font-size: 16px;
}
.loginShow{
    width: 100%;
}
.loginShow::before {
    content: "";
    position: absolute;
    background: url('../Image/Group 17.png') no-repeat;
    z-index: 1;
    width: 100%;
    background-size: 50%;
    top: 0;
    left: 0;
    bottom: 0;
    animation: animateLogLeft 2.5s;
}

.loginShow::after {
    content: "";
    position: absolute;
    background: url('../Image/Group 16.png') no-repeat;
    z-index: 1;
    width: 100%;
    background-size: 50%;
    top: 0;
    bottom: 0;
    transform:translateY(-.8px);
    animation: animateLogRight 2.5s;
}

        @keyframes animateLogLeft {
            0% {
                left: -800px;
            }

            100% {
                left: 0;
            }
        }

        @keyframes animateLogRight {
            0% {
                right: -1600px;
            }

            100% {
                right: -765px;
            }
        }

    .lbody h1 {
        color: #23AEFF;
        font-size: 40px;
    }

    .lbody img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        z-index: -1;
    }

.lbody footer {
    font-size: 14px;
}

.llogin {
    width: 30%;
    margin: 5% auto;
    text-align: left;
}

    .llogin label {
        padding: 10px 0;
    }

    .llogin input {
        padding: 5px;
        margin: 10px 0;
        width: 95%;
        height: 25px;
        border: #0088FF 2px solid;
        background: #0e1e53;
        color: #E2E2E2;
    }

        .llogin input[type=checkbox] {
            width: 15px;
            height: auto;
        }

        .llogin input[type=submit] {
            font-family: Autodestruct BB;
            width: 32%;
            height: 35px;
            font-size: 17px;
            border-radius: 8px;
            margin-bottom: 25%;
        }

            .llogin input[type=submit]:hover {
                background: #0088FF;
                border: #00ffd9 2px solid;
                transition: .5s;
                color: #8eff9d;
            }
